* {
    font-family: 'Montserrat', sans-serif;
}

label {
    display: block;
    width: 80%;
    margin:auto;
    font-size: 15px;
}

form {
    width: 70%;
    margin: auto;
}

.chart {
    width: 70vh;
    height: 70vh;
    margin:auto;
}